<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">

<h1><strong>About</strong></h1><br>

<p style="font-size: large;">This project was made for RU Hacks 2021. Our team name is Imposters :)</p><br>

<h4>Enjoy a Picture of a Random Cat from the Cat API.</h4>
<mat-card
    [style.background]="'url(' + randomCatImage + ') no-repeat center center'"
    [style.background-size]="'cover'" [style.height]="'450px'">
</mat-card>